@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-snap-type: y proximity;
  scroll-behavior: smooth;
  overflow-y: scroll;
}

header, footer, section {
	scroll-snap-align: start;
  scroll-snap-stop: always;
}

/* scrollbar styles */
::-webkit-scrollbar {
  width: 16px;
}
::-webkit-scrollbar-thumb {
  background: #581c87;
  border-radius: 15pt;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
/* section class */
.section-full {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* carousel */
.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}